@mixin icon_button {
  outline: none;
  border: none;
  background: transparent;
  color: white;
      svg {
        width: 32px;
        height: 32px;
      }
}

.hm {
  position: relative;
  &-Overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: flex-end;
    @include lg {
      align-items: center;
    }
  }
  &-OverlayHeading {
    color: white;
    font-weight: 800;
    line-height: 5rem; // Font size for OverlayHeadingonly applies to mobile only
    font-size: 6rem;
    @include lg {
      font-size: 8rem;
      letter-spacing: 1rem;
      line-height: 1;
    }
  }

  &-Embed {
    iframe {
      height: 56vw;
      width: 100%;
      display: flex;
    }
  }

  &-Hosted { 
    position: relative;
    width: fit-content;
    margin: auto;
  }

  &-HostedVideo {
    width: 100%;
    height: auto;
    max-height: #{'calc(100vh - 5rem)'};
  }

  &-HostedControls {
    position: absolute;
    z-index: 1;
    top: #{'min(6vw, 1rem)'};
    right: #{'min(6vw, 1rem)'};
    mix-blend-mode: difference;
  }

  &-HostedControls {
    &_Repeat { 
      @include icon_button; 
    }
    &_Mute { @include icon_button; }
    &_Play { @include icon_button; }
  }

  &-HostedControls_Mute {
    &[aria-muted="false"] {
      svg:first-child { @include show; }
      svg:last-child { @include hidden; }
    }
    &[aria-muted="true"] {
      svg:first-child { @include hidden; }
      svg:last-child { @include show; }
    }
  }

  &-Image {
    width: 100%;
    height: auto;
    max-height: #{'calc(100vh - 5rem)'};
    object-fit: cover;
  }
}

