@mixin icon_button {
  outline: none;
  border: none;
  background: transparent;
  color: $primary_text;
      svg {
        width: 32px;
        height: 32px;
      }
}

.hm {
  &-Embed {
    iframe {
      height: 56vw;
      width: 100%;
    }
  }

  &-Hosted { position: relative; }

  &-HostedVideo {
    width: 100%;
    height: auto;
    max-height: #{'calc(100vh - 5rem)'};
  }

  &-HostedControls {
    position: absolute;
    z-index: 1;
    top: #{'min(6vw, 1rem)'};
    right: #{'min(6vw, 1rem)'};
  }

  &-HostedControls {
    &_Repeat { 
      @include icon_button; 
    }
    &_Mute { @include icon_button; }
    &_Play { @include icon_button; }
  }

  &-Image {
    width: 100%;
    height: auto;
    max-height: #{'calc(100vh - 5rem)'};
    object-fit: cover;
  }
}

