@mixin sm  {
  @media (min-width: 540px) {
    @content;
  }
}
@mixin md  {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg  {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin xl  {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
}

@mixin container {
  max-width: $max_content_width;
  margin-inline: auto;
  padding: #{'clamp(1rem, 5vw, 4rem)'} #{'clamp(1rem, 2vw, 2rem)'};
  box-sizing: border-box;
}
