@mixin sm  {
  @media (min-width: 540px) {
    @content;
  }
}
@mixin md  {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg  {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin xl  {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
}
