.container {
  @include container;
  &.flex {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 5vw, 4rem);
    justify-content: center;
  }
}

.container_PrimaryBackground {
  @include container;
  background-color: $primary_background;
}

.container_SecondaryBackground {
  @include container;
  background-color: $secondary_background;
}

.two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 1rem 4rem;
    margin-inline: auto;
}
.two_columns > * {
    flex-basis: 1 0 50%;
}

.three_columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
  place-items: center;
  gap: 1rem;
}

.text_column { max-width: 900px }

.link_button {
  @include link_button;
}
