.wop {

  &-Container {
    @include container;
    max-width: 800px;
    width: auto;
  }

  &-AlbumList {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    & > * {
      width: clamp(150px, 20%, 25%);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: contain;
    }
  }

  &-CurrentCovers {
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    justify-content: space-around;
  }

  &-CurrentCovers_Image {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
  }

  &-Player {
    display: block;
    margin-inline: auto;
  }

}
