.wop {

  &-Container {
    @include container;
    max-width: 950px;
    width: auto;
  }

  &-AlbumList {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    img {
      width: 100%;
      height: auto;
      max-height: 250px;
      object-fit: contain;
    }
    @include md {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-Album { 
    transition: 0.467s ease;
    &Thumbnail {
      box-shadow: 0 0px 0px 0 rgba(11, 0, 68, 0.0);
    }
    &.active {
      transform: scale3d(1.05, 1.05, 1.05);
      transform-origin: center;
    }
    &_Active {
      .wop-AlbumThumbnail_Title {
      }
    }
    &:hover {
      transform: scale3d(1.15, 1.15, 1.15);
      .wop-AlbumThumbnail {
        box-shadow: 0 5px 14px 0 rgba(11, 0, 68, 0.46);
      }
    }
  }

  &-AlbumThumbnail {
    &_Title {
      font-weight: 700;
      display: block;
      margin: 0.75rem 1.5rem 0.25rem;
      text-align: center;
      font-size: 0.875rem;
      @include md { font-size: 1rem; }
    }
    &_ReleaseDate {
      text-align: center;
      display: block;
    }
  }

  &-AlbumTitle {
    margin-top: clamp(1.5rem, 3vw, 4rem);
    text-align: center;
    font-size: 2rem;
  }

  &-ReleaseDate {
    display: block;
    text-align: center;
    margin-top: clamp(1.5rem, 3vw, 4rem);
    font-size: 1.25rem;
    font-weight: 200;
  }

  &-CurrentCovers {
    display: flex;
    max-width: 1300px;
    margin-inline: auto;
    justify-content: center;
    gap: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    figure { margin: 0 }
  }

  &-CurrentCovers_Image {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
  }

  &-Player {
    display: block;
    margin-inline: auto;
  }

  &-PlayerControls {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;

    & .wop-Player { width: 100%; min-width: 300px; }
    & #track-list { 
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-top: 1rem;
    }

    @include md {
      display: grid;
    }
  }

  #track-list {
    span {
      cursor: pointer;
      padding: 0.25rem 1rem;
      transition: 0.367s ease;
    }
    span.active {
      background: #333;
      color: white;
    }
  }
}
