<script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script>
<a 
    class="bit-widget-initializer"
    data-artist-name="Larkhall"
    data-display-local-dates="false"
    data-display-past-dates="true"
    data-auto-style="false"
    data-text-color="{{ site.Params.theme.primary_text }}"
    data-link-color="{{ site.Params.theme.primary_text }}"
    data-background-color="rgba(0,0,0,0)"
    data-display-limit="15"
    data-display-start-time="true"
    data-link-text-color="#ffffff"
    data-display-lineup="false"
    data-display-play-my-city="true"
    data-separator-color="rgba(124,124,124,0.25)"></a>
