<footer class="ft">
    <!-- <span class="ft-TypographicLogo">L</span> -->

    <div class="ft-Container">

        {{- with .Site.Menus.footer -}}
        <!-- <nav class="ft-Nav">
            {{- range . }}
            <a class="ft-NavLink" href="{{ .ConfiguredURL }}"
                {{- with .Params.target }}target="{{ . }}"{{ end -}}
                    >{{ default .Identifier .Name | humanize }}</a>
            {{- end -}}
        </nav> -->

        <!-- <hr class="ft-Divider"> -->
        {{- end -}}

        {{- with .Site.Menus.footer_externals -}}
        <nav class="ft-Externals">
            {{- range . -}}
            <a class="ft-ExternalsLink" href="{{ .ConfiguredURL }}" target="_blank">
                {{ readFile  (printf `static/icons/%s.svg` .Params.icon)  | safeHTML }}
            </a>
            {{- end -}}
        </nav>

        <hr class="ft-Divider">
        {{- end -}}
        

        {{- with .Site.Params.footer_newsletter_signup }}
            <a class="ft-NewsletterSignup" href="/contact/#newsletter_signup">
                <span class="ft-NewsletterSignup_Icon">
                    {{ readFile  (printf `static/icons/%s.svg` .icon)  | safeHTML }}
                </span>
                {{ .cta }}
            </a>

        <hr class="ft-Divider">
        {{- end -}}

    </div>

    <small class="ft-Copyright">
        © {{ now.Format "2006" }} Larkhall. All rights reserved. <br>
        Photos credit Martin Tompkins except /concerts credit Samuel Sharp
    </small>

</footer>
