{{ define "main" }}

{{ $works := where .Site.RegularPages "Section" "works" }}
{{ $static := index $works 0 }}
<section class="wop">

    <div class="wop-Container">

        <div class="wop-AlbumList">

            {{ range $i, $v := $works }}
            {{ $image := .Resources.GetMatch (index .Params.images 0) }}
            <div class="wop-Album {{ if eq $i 0 }}active{{ end }}">
                <img 
                    class="wop-AlbumThumbnail"
                    src="{{ ($image.Resize `600x q80 webp Lanczos`).Permalink }}"
                    srcset="{{ ($image.Resize `150x q80 webp Lanczos`).Permalink }} 150w,
                            {{ ($image.Resize `300x q80 webp Lanczos`).Permalink }} 300w,
                            {{ ($image.Resize `600x q80 webp Lanczos`).Permalink }} 600w"
                    sizes="150px"
                    alt="{{ .Title }}"
                    data-album-index="{{ $i }}">
                <span class="wop-AlbumThumbnail_Title">{{ .Title }}</span>
                {{- with .Params.release_date }}<span class="wop-AlbumThumbnail_ReleaseDate">{{ time.Format "2006" . }}</span>{{ end -}}
            </div>
            {{ end }}
        </div>

        <h2 class="wop-AlbumTitle"><strong>{{ $static.Title }}</strong></h2>

        <span class="wop-ReleaseDate">{{ with $static.Params.release_date }}{{ time.Format "2006" . }}{{ end }}</span>

    </div>

</section>

<section class="wop">

    <div class="wop-CurrentCovers">
        {{ range sort ($static.Resources.Match "*_cover.*") "Name" "desc" }}
        <figure>
            <source srcset="{{ (.Resize `400x q80 webp`).Permalink }} 400w
                            {{- if ge .Width 600 -}}, {{ (.Resize `600x q80 webp`).Permalink }} 600w{{- end -}}
                            {{- if ge .Width 800 -}}, {{ (.Resize `800x q80 webp`).Permalink }} 800w{{- end -}}
                            {{- if ge .Width 1000 -}}, {{ (.Resize `1000x q80 webp`).Permalink }} 1000w{{- end -}}
                            {{- if ge .Width 1200 -}}, {{ (.Resize `1200x q80 webp`).Permalink }} 1200w{{- end -}}
                            ">
            <img class="wop-CurrentCovers_Image" src="{{ .Permalink }}" alt="{{ .Name }}">
        </figure>
        {{ end }}
    </div>

    <div class="wop-Container wop-PlayerControls">

        <audio class="wop-Player" id="audio" controls controlsList="nodownload">
            Your browser does not support the audio element.
        </audio>

        <div id="track-list">
            {{- range $static.Params.tracks -}}
            <span>{{ .name }}</span>
            {{- end -}}
        </div>

    </div>

    <div class="wop-Container">
        <div id="album-description">{{ $static.Content }}</div>
    </div>

</section>

{{ with $works }}
<script id="albumData" type="application/json">
  {
    "albums": [
    {{ range $i, $v := . }}
    {{- $album_page := . -}}
      {
        "name": "{{ .Title }}",
        {{- with .Params.release_date }}"release_date": "{{ . }}", {{ end -}}
        {{- with .Params.release_date }}"release_year": "{{ time.Format "2006" . }}", {{ end -}}

        {{- $tracks := .Params.tracks -}}
        {{ with $tracks }}
        "tracks": [
            {{- range $i, $v := . }}
              {
                "name": "{{ .name }}",
                "src": "{{ if eq .src "#" }}#{{ else }}{{ ($album_page.Resources.GetMatch .src).Permalink | safeJS }}{{ end }}"
              }{{- if lt (add 1 $i) (len $tracks) }},{{ end -}}
            {{ end }}
        ],
        {{ end -}}

        {{- $images := .Params.images -}}
        {{ with $images }}
        "images": [
            {{ range $i, $v := . }}
            {{- $image := $album_page.Resources.GetMatch . -}}
                    { "src": "{{ ($image.Resize `1200x q80 webp`).Permalink }}",
                    "srcset": [
                        "{{ ($image.Resize `400x q80 webp`).Permalink }} w400"
                        {{- if ge $image.Width 600 -}}, "{{ ($image.Resize `600x q80 webp`).Permalink }} w600"{{- end -}}
                        {{- if ge $image.Width 800 -}}, "{{ ($image.Resize `800x q80 webp`).Permalink }} w800"{{- end -}}
                        {{- if ge $image.Width 1000 -}}, "{{ ($image.Resize `1000x q80 webp`).Permalink }} w1000"{{- end -}}
                        {{- if ge $image.Width 1200 -}}, "{{ ($image.Resize `1200x q80 webp`).Permalink }} w1200"{{- end -}}
                    ]
                    }{{- if lt (add 1 $i) (len $images) }},{{ end -}}
            {{ end -}}
        ],
        {{ end -}}

        "description": "{{ .Content }}"
      }{{ if lt (add 1 $i) (len $works) }},{{ end }}
    {{ end }}
    ]
  }
</script>
{{ end }}

{{ end }}
