<div class="hm">
{{- if .IsNamedParams }}

{{ else }}

    {{- $input := .Get 0 -}}
    {{- $muted := cond (eq 3 (len .Params)) (.Get 2) (.Get 1) -}}
    {{ $res := .Page.Resources.GetMatch $input }}

    {{- if strings.Contains $input "iframe" }}
        <div class="hm-Embed">
            {{ $input | safeHTML }}
        </div>
    {{ else if or (strings.Contains $input "www") (strings.Contains $input "http") }}
        {{ $url := urls.Parse $input }}
        <div class="hm-Embed">
        {{- if or (strings.Contains $url.Host "youtube") (strings.Contains $url.Path "youtube.com") -}}
            <iframe class="dp-MediaPanel_Embed" width="560" height="315" src="https://www.youtube.com/embed/{{ after 2 $url.RawQuery }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {{- else if (strings.Contains $url.Host `youtu.be`) -}}
            <iframe class="dp-MediaPanel_Embed" width="560" height="315" src="https://www.youtube.com/embed{{ $url.Path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {{- else if (strings.Contains $url.Host `vimeo.com`) -}}
            <iframe src="https://player.vimeo.com/video{{ $url.Path }}?title=0&byline=0&portrait=0" class="dp-MediaPanel_Embed" width="640" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {{- end -}}
        </div>
    {{- else if eq $res.MediaType.MainType "image" -}}
    <!-- <div class="container"> -->
    <picture>
        <source
            type="image/webp"
            srcset="{{ ($res.Resize `750x webp q80`).Permalink }} 750w,
                    {{- if gt $res.Width 999 -}}{{ ($res.Resize `1000x webp q80`).Permalink }} 1000w,{{- end -}}
                    {{- if gt $res.Width 1499 -}}{{ ($res.Resize `1500x webp q80`).Permalink }} 1500w,{{- end -}}
                    {{- if gt $res.Width 1999 -}}{{ ($res.Resize `2000x webp q80`).Permalink }} 2000w,{{- end -}}
                    {{- if gt $res.Width 2499 -}}{{ ($res.Resize `2500x webp q80`).Permalink }} 2500w,{{- end -}}
                    {{- if gt $res.Width 2999 -}}{{ ($res.Resize `3000x webp q80`).Permalink }} 3000w,{{- end -}}
                    {{ ($res.Resize (printf `%dx%d webp q80` $res.Width $res.Height)).Permalink }} {{ $res.Width }}w"
            />
        <img class="hm-Image" src="{{ $res.Permalink }}" alt="{{ $res.Name }}" width="{{ $res.Width }}" height="{{ $res.Height }}">
        <div class="hm-Overlay"> <h1 class="hm-OverlayHeading">{{- .Get 1 -}}</h1> </div>
    </picture>
    
    <!-- </div> -->
    {{ else }}
        <div class="hm-Hosted">
            <div class="hm-HostedControls">
                <button class="hm-HostedControls_Repeat">
                    {{ readFile "static/icons/arrow-counterclockwise.svg" | safeHTML }}
                </button>
                {{- if $muted -}}
                <button class="hm-HostedControls_Mute" aria-muted="true">
                    {{ readFile "static/icons/speaker-wave.svg" | safeHTML }}
                    {{ readFile "static/icons/speaker-slash.svg" | safeHTML }}
                </button>
                {{ end -}}
                <button class="hm-HostedControls_Play">
                    {{ readFile "static/icons/play-pause.svg" | safeHTML }}
                </button>
            </div>
            {{ if and (gt (len $.Params) 1) (strings.Contains ($.Get 1) ".mp4") }}
            <video class="hm-HostedVideo hm-HostedVideo_Mobile" nocontrols autoplay loop webkit-playsinline="true" playsinline data-desktopsource="{{ strings.TrimRight ".mp4" $input }}" data-mobilesource="{{ strings.TrimRight ".mp4" ($.Get 1) }}" src="{{ $.Get 1 }}" type="video/mp4" {{ $muted }}>
            </video>
            {{ else }}
            <video class="hm-HostedVideo" nocontrols autoplay loop webkit-playsinline="true" playsinline {{ $muted }}>
                <source src="{{ $input }}" type="video/mp4">
            </video>
            {{ end }}
        </div>
    {{ end -}}

{{ end -}}
</div>
